#idform {
    background-color: #eb71ebba;
    text-align: center;
    margin-top: 6%;
    margin-left: 38%;
    position: absolute;
    background-size: 30px;
    padding: 125px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #e156c1dc;
}
#btnHome{
    background-color: #f1d9f1;
    padding: 1px 10px;
    margin-top: 1%;
    margin-left: 91.4%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #e156c1dc;
    cursor: pointer;
    border: none;
    position: absolute;
}
#iconHome{
    width: 25px;
    height: 25px;
}
#idh1{
    color: rgba(0, 0, 0, 0.509);
    margin-top: -10%; 
}
#idbody {
    background-color: #eabeea;
}

#txtNome {
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 7px;
    border: none;
    margin-top: 0px;
}

#txtCpf {
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 7px;
    border: none;
    margin-top: 15px;
}

#txtEndereco {
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 7px;
    border: none;
    margin-top: 15px;
}

#txtData {
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 7px;
    border: none;
    margin-top: 10px;

}
#txtEmail{
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 7px;
    border: none;
    margin-top: 15px;
}
#idSubmit{
    text-align: center;
    padding: 10px 5px;
    background-color: #f1d9f1;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#btnVoltar{
    background-color: #f1d9f1;
    padding: 1px 10px;
    margin-top: 1%;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #e156c1dc;
    cursor: pointer;
    border: none;
}
#iconSeta{
    width: 20px;
    height: 20px;
}