#idbody {
    background-color: #f8f0f8;
}

#idTable {
    background-color: #f1d9f1;
    border-radius: 10px;
    padding: 3%;
    text-align: left;
    font-size: 16px;
    margin-top: -0%;
    margin-left: 27%;
    box-shadow: 1px 1px 10px #e156c1dc;
    font-family: math;
}

#idTableCliente{
    background-color: #f1d9f1;
    border-radius: 10px;
    text-align: left;
    padding: 1%;
    font-size: 16px;
    margin-top: 8%;
    margin-left: 28%;
    box-shadow: 1px 1px 10px #e156c1dc;
    font-family: math;
    position: absolute;
}

#idthead {
    padding: 10px 5px;
    text-align: center;

}

#idh2 {
    color: rgba(0, 0, 0, 0.616);
    font-size: 30px;
}

#idbtnVoltar {
    background-color: #f1d9f1;
    padding: 1px 10px;
    margin-top: -10%;
    margin-left: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #e156c1dc;
    cursor: pointer;
    border: none;
}

#iconSeta {
    width: 20px;
    height: 20px;
}
#iconLixeira{
    width: 17px;
    height: 17px;
    cursor: pointer;
}

#iconLapis{
    width: 17px;
    height: 17px;
    cursor: pointer;
}
#btnLixeira{
   margin-left: 20px;
   background-color: rgba(255, 0, 0, 0.467);
   border-radius: 5px;
   margin-top: -2px;
}
#btnLapis{
    margin-left: 10px;
    background-color: rgba(64, 0, 255, 0.467);
    border-radius: 5px;
    margin-top: -2px;
}
#btnCadCliente{
    background-color: #f1d9f1;
    padding: 1px 10px;
    margin-top: 7%;
    margin-left: 65%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #e156c1dc;
    cursor: pointer;
    border: none;
    display: flex;
    position: absolute;
}

#iconMais{
    width: 20px;
    height: 20px;
}
#btnHome{
    background-color: #f1d9f1;
    padding: 1px 10px;
    margin-top: -0.8%;
    margin-left: 91.4%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #e156c1dc;
    cursor: pointer;
    border: none;
    position: absolute;
}    
#iconHome{
    width: 25px;
    height: 25px;
}
#btnCadUser{
    background-color: #f1d9f1;
    padding: 1px 10px;
    margin-top: 7%;
    margin-left: 76%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #e156c1dc;
    cursor: pointer;
    border: none;
}
#btnVoltarUser{
    background-color: #f1d9f1;
    padding: 1px 10px;
    margin-top: 0%;
    margin-left: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #e156c1dc;
    cursor: pointer;
    border: none;
}